{
  "openapi": "3.0.0",
  "info": {
    "title": "BharatTesting API",
    "description": "API for generating valid Indian test data. Privacy-first and 100% offline-ready logic.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://api.bharattesting.com/v1",
      "description": "API subdomain"
    },
    {
      "url": "https://bharattesting.com/api/v1",
      "description": "Production server (Legacy)"
    }
  ],
  "paths": {
    "/aadhaar": {
      "get": {
        "summary": "Generate Aadhaar numbers",
        "description": "Valid 12-digit numbers with Verhoeff checksum.",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1, "maximum": 100 } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "xml", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/pan": {
      "get": {
        "summary": "Generate PAN numbers",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "type", "in": "query", "description": "P, C, H, F, A, T, B, L, J, G", "schema": { "type": "string", "default": "P" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "xml", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/gstin": {
      "get": {
        "summary": "Generate GSTIN",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "stateCode", "in": "query", "schema": { "type": "string", "default": "27" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "xml", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/address": {
      "get": {
        "summary": "Generate Indian Addresses",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "state", "in": "query", "schema": { "type": "string" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/vehicle": {
      "get": {
        "summary": "Generate Vehicle Numbers",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "state", "in": "query", "schema": { "type": "string" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/bank-account": {
      "get": {
        "summary": "Generate Bank Accounts",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "bank", "in": "query", "schema": { "type": "string" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/pincode": {
      "get": {
        "summary": "Generate Pin Codes",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "state", "in": "query", "schema": { "type": "string" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/company": {
      "get": {
        "summary": "Generate Company Data",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/passport": {
      "get": {
        "summary": "Generate Passports",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["new", "old"], "default": "new" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/email": {
      "get": {
        "summary": "Generate Emails",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "domain_type", "in": "query", "schema": { "type": "string", "enum": ["personal", "company", "gov"], "default": "personal" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/phone": {
      "get": {
        "summary": "Generate Phone Numbers",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "operator", "in": "query", "schema": { "type": "string", "enum": ["Jio", "Airtel", "Vi", "BSNL"] } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "xml", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/upi": {
      "get": {
        "summary": "Generate UPI IDs",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "provider", "in": "query", "schema": { "type": "string", "enum": ["gpay", "phonepe", "paytm", "amazon", "whatsapp"] } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "xml", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/ifsc": {
      "get": {
        "summary": "Generate IFSC",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "bank", "in": "query", "schema": { "type": "string", "enum": ["SBI", "HDFC", "ICICI", "Axis", "PNB", "BOB", "Canara", "Yes"] } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "xml", "sql"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/profile": {
      "get": {
        "summary": "Generate User Profiles",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "state", "in": "query", "schema": { "type": "string" } },
          { "name": "seed", "in": "query", "description": "Seed for reproducible random generation", "schema": { "type": "string" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv", "xml", "sql", "ndjson"], "default": "json" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/card": {
      "get": {
        "summary": "Generate Credit/Debit Cards",
        "parameters": [
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["RuPay", "Visa", "MasterCard"] } },
          { "name": "seed", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/changelog": {
      "get": {
        "summary": "API Version History",
        "responses": { "200": { "description": "OK" } }
      }
    }
  }
}
